<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalemployee.business.mapper.BizDigitalEmployeeTemplateMapper">
    
    <resultMap type="BizDigitalEmployeeTemplate" id="BizDigitalEmployeeTemplateResult">
        <result property="id"    column="id"    />
        <result property="avatar"    column="avatar"    />
        <result property="avatarContentType"    column="avatar_content_type"    />
        <result property="name"    column="name"    />
        <result property="model"    column="model"    />
        <result property="temperature"    column="temperature"    />
        <result property="maxTokens"    column="max_tokens"    />
        <result property="presencePenalty"    column="presence_penalty"    />
        <result property="frequencyPenalty"    column="frequency_penalty"    />
        <result property="sendMemory"    column="send_memory"    />
        <result property="historyMessageCount"    column="history_message_count"    />
        <result property="compressMessageLengthThreshold"    column="compress_message_length_threshold"    />
        <result property="lang"    column="lang"    />
        <result property="builtin"    column="builtin"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="greeting"    column="greeting"    />
        <result property="introduction"    column="introduction"    />
        <result property="companyAvatar"    column="company_avatar"    />
        <result property="companyAvatarContentType"    column="company_avatar_content_type"    />
        <result property="companyName"    column="company_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
        <result property="proactivelyGreet"    column="proactively_greet"    />
        <result property="chatType"    column="chat_type"    />
        <result property="qaRadius"    column="qa_radius"    />
        <result property="kbRadius"    column="kb_radius"    />
        <result property="modelSwitch"    column="model_switch"    />
        <result property="quantityOfInformation"    column="quantity_of_information"    />
    </resultMap>

    <sql id="selectBizDigitalEmployeeTemplateVo">
        select id, avatar, avatar_content_type, name, model, temperature, max_tokens, presence_penalty, frequency_penalty, send_memory, history_message_count, compress_message_length_threshold, lang, builtin, status, create_by, create_time, update_by, update_time, remark, greeting, introduction,
               company_avatar, company_avatar_content_type, company_name, user_id, dept_id, proactively_greet,
               chat_type, qa_radius, kb_radius, model_switch, quantity_of_information
        from biz_digital_employee_template a
    </sql>

    <select id="selectBizDigitalEmployeeTemplateList" parameterType="BizDigitalEmployeeTemplate" resultMap="BizDigitalEmployeeTemplateResult">
        <include refid="selectBizDigitalEmployeeTemplateVo"/>
        <where>  
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="avatarContentType != null  and avatarContentType != ''"> and avatar_content_type = #{avatarContentType}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="model != null  and model != ''"> and model = #{model}</if>
            <if test="temperature != null "> and temperature = #{temperature}</if>
            <if test="maxTokens != null "> and max_tokens = #{maxTokens}</if>
            <if test="presencePenalty != null "> and presence_penalty = #{presencePenalty}</if>
            <if test="frequencyPenalty != null "> and frequency_penalty = #{frequencyPenalty}</if>
            <if test="sendMemory != null "> and send_memory = #{sendMemory}</if>
            <if test="historyMessageCount != null "> and history_message_count = #{historyMessageCount}</if>
            <if test="compressMessageLengthThreshold != null "> and compress_message_length_threshold = #{compressMessageLengthThreshold}</if>
            <if test="lang != null  and lang != ''"> and lang = #{lang}</if>
            <if test="builtin != null "> and builtin = #{builtin}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="greeting != null and greeting != ''"> and greeting = #{greeting}</if>
            <if test="companyAvatar != null and companyAvatar != '' "> and company_avatar = #{companyAvatar}</if>
            <if test="companyAvatarContentType != null and companyAvatarContentType != '' "> and company_avatar_content_type = #{companyAvatarContentType}</if>
            <if test="companyName != null and companyName != '' "> and company_name = #{companyName}</if>
            <if test="introduction != null and introduction != ''"> and introduction = #{introduction}</if>
            <if test="proactivelyGreet != null and proactivelyGreet != ''"> and proactively_greet = #{proactivelyGreet}</if>
            <if test="chatType != null"> and chat_type = #{chatType}</if>
            <if test="modelSwitch != null"> and model_switch = #{modelSwitch}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectBizDigitalEmployeeTemplateById" parameterType="Long" resultMap="BizDigitalEmployeeTemplateResult">
        <include refid="selectBizDigitalEmployeeTemplateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizDigitalEmployeeTemplate" parameterType="BizDigitalEmployeeTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into biz_digital_employee_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="avatar != null">avatar,</if>
            <if test="avatarContentType != null">avatar_content_type,</if>
            <if test="name != null">name,</if>
            <if test="model != null">model,</if>
            <if test="temperature != null">temperature,</if>
            <if test="maxTokens != null">max_tokens,</if>
            <if test="presencePenalty != null">presence_penalty,</if>
            <if test="frequencyPenalty != null">frequency_penalty,</if>
            <if test="sendMemory != null">send_memory,</if>
            <if test="historyMessageCount != null">history_message_count,</if>
            <if test="compressMessageLengthThreshold != null">compress_message_length_threshold,</if>
            <if test="lang != null">lang,</if>
            <if test="builtin != null">builtin,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="greeting != null">greeting,</if>
            <if test="companyAvatar != null">company_avatar,</if>
            <if test="companyAvatarContentType != null">company_avatar_content_type,</if>
            <if test="companyName != null">company_name,</if>
            <if test="introduction != null">introduction,</if>
            <if test="proactivelyGreet != null">proactively_greet,</if>
            <if test="chatType != null">chat_type,</if>
            <if test="qaRadius != null">qa_radius,</if>
            <if test="kbRadius != null">kb_radius,</if>
            <if test="modelSwitch != null">model_switch,</if>
            <if test="quantityOfInformation != null">quantity_of_information,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="avatar != null">#{avatar},</if>
            <if test="avatarContentType != null">#{avatarContentType},</if>
            <if test="name != null">#{name},</if>
            <if test="model != null">#{model},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="maxTokens != null">#{maxTokens},</if>
            <if test="presencePenalty != null">#{presencePenalty},</if>
            <if test="frequencyPenalty != null">#{frequencyPenalty},</if>
            <if test="sendMemory != null">#{sendMemory},</if>
            <if test="historyMessageCount != null">#{historyMessageCount},</if>
            <if test="compressMessageLengthThreshold != null">#{compressMessageLengthThreshold},</if>
            <if test="lang != null">#{lang},</if>
            <if test="builtin != null">#{builtin},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="greeting != null">#{greeting},</if>
            <if test="companyAvatar != null">#{companyAvatar},</if>
            <if test="companyAvatarContentType != null">#{companyAvatarContentType},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="proactivelyGreet != null">#{proactivelyGreet},</if>
            <if test="chatType != null">#{chatType},</if>
            <if test="qaRadius != null">#{qaRadius},</if>
            <if test="kbRadius != null">#{kbRadius},</if>
            <if test="modelSwitch != null">#{modelSwitch},</if>
            <if test="quantityOfInformation != null">#{quantityOfInformation},</if>
         </trim>
    </insert>

    <update id="updateBizDigitalEmployeeTemplate" parameterType="BizDigitalEmployeeTemplate">
        update biz_digital_employee_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="avatarContentType != null">avatar_content_type = #{avatarContentType},</if>
            <if test="name != null">name = #{name},</if>
            <if test="model != null">model = #{model},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="maxTokens != null">max_tokens = #{maxTokens},</if>
            <if test="presencePenalty != null">presence_penalty = #{presencePenalty},</if>
            <if test="frequencyPenalty != null">frequency_penalty = #{frequencyPenalty},</if>
            <if test="sendMemory != null">send_memory = #{sendMemory},</if>
            <if test="historyMessageCount != null">history_message_count = #{historyMessageCount},</if>
            <if test="compressMessageLengthThreshold != null">compress_message_length_threshold = #{compressMessageLengthThreshold},</if>
            <if test="lang != null">lang = #{lang},</if>
            <if test="builtin != null">builtin = #{builtin},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="greeting != null">greeting = #{greeting},</if>
            <if test="companyAvatar != null">company_avatar = #{companyAvatar},</if>
            <if test="companyAvatarContentType != null">company_avatar_content_type = #{companyAvatarContentType},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="proactivelyGreet != null">proactively_greet = #{proactivelyGreet},</if>
            <if test="chatType != null">chat_type = #{chatType},</if>
            <if test="qaRadius != null">qa_radius = #{qaRadius},</if>
            <if test="kbRadius != null">kb_radius = #{kbRadius},</if>
            <if test="modelSwitch != null">model_switch = #{modelSwitch},</if>
            <if test="quantityOfInformation != null">quantity_of_information = #{quantityOfInformation},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizDigitalEmployeeTemplateById" parameterType="Long">
        delete from biz_digital_employee_template where id = #{id}
    </delete>

    <delete id="deleteBizDigitalEmployeeTemplateByIds" parameterType="String">
        delete from biz_digital_employee_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectUsedTemplateList" resultType="BizDigitalEmployeeTemplate">
        SELECT
            a.id, a.`name`, a.create_time
        FROM
            biz_digital_employee_template a left join biz_digital_employee b on a.id = b.template_id
        <where>
            b.status != 2
            <if test="sysUserId != null"> and b.sys_user_id = #{sysUserId}</if>
        </where>
        GROUP BY
            a.id, a.`name`, a.create_time
        ORDER BY
            a.create_time;
    </select>
</mapper>