<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalemployee.business.modules.de.mapper.BizDigitalEmployeeProcedureMapper">
    
    <resultMap type="BizDigitalEmployeeProcedure" id="BizDigitalEmployeeProcedureResult">
        <result property="id"    column="id"    />
        <result property="templateId"    column="template_id"    />
        <result property="digitalEmployeeId"    column="digital_employee_id"    />
        <result property="content"    column="content"    />
        <result property="type"    column="type"    />
        <result property="enable"    column="enable"    />
    </resultMap>

    <sql id="selectBizDigitalEmployeeProcedureVo">
        select id, template_id, digital_employee_id, content, type, enable from biz_digital_employee_procedure
    </sql>

    <select id="selectBizDigitalEmployeeProcedureList" parameterType="com.digitalemployee.business.modules.de.domain.BizDigitalEmployeeProcedure" resultMap="BizDigitalEmployeeProcedureResult">
        <include refid="selectBizDigitalEmployeeProcedureVo"/>
        <where>  
            <if test="templateId != null "> and template_id = #{templateId}</if>
            <if test="digitalEmployeeId != null "> and digital_employee_id = #{digitalEmployeeId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="enable != null "> and enable = #{enable}</if>
        </where>
    </select>
    
    <select id="selectBizDigitalEmployeeProcedureById" parameterType="Long" resultMap="BizDigitalEmployeeProcedureResult">
        <include refid="selectBizDigitalEmployeeProcedureVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizDigitalEmployeeProcedure" parameterType="com.digitalemployee.business.modules.de.domain.BizDigitalEmployeeProcedure" useGeneratedKeys="true" keyProperty="id">
        insert into biz_digital_employee_procedure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null">template_id,</if>
            <if test="digitalEmployeeId != null">digital_employee_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="type != null">type,</if>
            <if test="enable != null">enable,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null">#{templateId},</if>
            <if test="digitalEmployeeId != null">#{digitalEmployeeId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="type != null">#{type},</if>
            <if test="enable != null">#{enable},</if>
         </trim>
    </insert>

    <update id="updateBizDigitalEmployeeProcedure" parameterType="com.digitalemployee.business.modules.de.domain.BizDigitalEmployeeProcedure">
        update biz_digital_employee_procedure
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="digitalEmployeeId != null">digital_employee_id = #{digitalEmployeeId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="type != null">type = #{type},</if>
            <if test="enable != null">enable = #{enable},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizDigitalEmployeeProcedureById" parameterType="Long">
        delete from biz_digital_employee_procedure where id = #{id}
    </delete>

    <delete id="deleteBizDigitalEmployeeProcedureByIds" parameterType="String">
        delete from biz_digital_employee_procedure where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>