<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalemployee.business.mapper.BizKnowledgeBaseMapper">
    
    <resultMap type="BizKnowledgeBase" id="BizKnowledgeBaseResult">
        <result property="id"    column="id"    />
        <result property="sysUserId"    column="sys_user_id"    />
        <result property="collectionName"    column="collection_name"    />
        <result property="collectionNameQa"    column="collection_name_qa"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectBizKnowledgeBaseVo">
        select id, sys_user_id, collection_name, collection_name_qa, name, status, create_by, create_time, update_by, update_time, remark , user_id, dept_id from biz_knowledge_base kb
    </sql>

    <select id="selectBizKnowledgeBaseList" parameterType="BizKnowledgeBase" resultMap="BizKnowledgeBaseResult">
        <include refid="selectBizKnowledgeBaseVo"/>
        <where>  
            <if test="sysUserId != null "> and sys_user_id = #{sysUserId}</if>
            <if test="collectionName != null  and collectionName != ''"> and collection_name like concat('%', #{collectionName}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <!-- 权限过滤 -->
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectBizKnowledgeBaseById" parameterType="Long" resultMap="BizKnowledgeBaseResult">
        <include refid="selectBizKnowledgeBaseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizKnowledgeBase" parameterType="BizKnowledgeBase" useGeneratedKeys="true" keyProperty="id">
        insert into biz_knowledge_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUserId != null">sys_user_id,</if>
            <if test="collectionName != null and collectionName != ''">collection_name,</if>
            <if test="collectionNameQa != null and collectionNameQa != ''">collection_name_qa,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sysUserId != null">#{sysUserId},</if>
            <if test="collectionName != null and collectionName != ''">#{collectionName},</if>
            <if test="collectionNameQa != null and collectionNameQa != ''">#{collectionNameQa},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizKnowledgeBase" parameterType="BizKnowledgeBase">
        update biz_knowledge_base
        <trim prefix="SET" suffixOverrides=",">
            <if test="sysUserId != null">sys_user_id = #{sysUserId},</if>
            <if test="collectionName != null and collectionName != ''">collection_name = #{collectionName},</if>
            <if test="collectionNameQa != null and collectionNameQa != ''">collection_name_qa = #{collectionNameQa},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizKnowledgeBaseById" parameterType="Long">
        delete from biz_knowledge_base where id = #{id}
    </delete>

    <delete id="deleteBizKnowledgeBaseByIds" parameterType="String">
        delete from biz_knowledge_base where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>