<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalemployee.business.modules.chatsession.mapper.BizSessionRecordMapper">
    
    <resultMap type="BizSessionRecord" id="BizSessionRecordResult">
        <result property="id"    column="id"    />
        <result property="sessionId"    column="session_id"    />
        <result property="digitalEmployeeId"    column="digital_employee_id"    />
        <result property="sendTime"    column="send_time"    />
        <result property="returnTime"    column="return_time"    />
        <result property="responseInterval"    column="response_interval"    />
        <result property="inputText"    column="input_text"    />
        <result property="outputText"    column="output_text"    />
        <result property="tokens"    column="tokens"    />
        <result property="status"    column="status"    />
        <result property="errorMessage"    column="error_message"    />
        <result property="remark"    column="remark"    />
        <result property="chatType"    column="chat_type"    />
        <result property="hitStatus"    column="hit_status"    />
        <result property="userId"    column="user_id"    />
        <result property="cacheFlag"    column="cache_flag"    />
        <result property="errorCode"    column="error_code"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="roleId"    column="role_id"    />
        <result property="ip"    column="ip"    />
    </resultMap>

    <sql id="selectBizSessionRecordVo">
        select id, session_id, digital_employee_id, send_time, return_time, response_interval, input_text, output_text,
               tokens, status, error_message, remark, chat_type, hit_status, user_id, cache_flag, error_code, create_by,
               create_time, update_by, update_time, role_id, ip
        from biz_session_record
    </sql>

    <select id="selectBizSessionRecordList" parameterType="BizSessionRecord" resultMap="BizSessionRecordResult">
        <include refid="selectBizSessionRecordVo"/>
        <where>  
            <if test="sessionId != null "> and session_id = #{sessionId}</if>
            <if test="digitalEmployeeId != null "> and digital_employee_id = #{digitalEmployeeId}</if>
            <!-- <if test="sendTime != null "> and send_time = #{sendTime}</if> -->
            <if test="returnTime != null "> and return_time = #{returnTime}</if>
<!--            <if test="responseInterval != null "> and response_interval = #{responseInterval}</if>-->
            <!--  <if test="inputText != null  and inputText != ''"> and input_text = #{inputText}</if> -->
            <!-- <if test="outputText != null  and outputText != ''"> and output_text = #{outputText}</if> -->
            <if test="tokens != null "> and tokens = #{tokens}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="errorMessage != null  and errorMessage != ''"> and error_message like concat('%', #{errorMessage}, '%')</if>
            <if test="chatType != null "> and chat_type = #{chatType}</if>
            <if test="hitStatus != null "> and hit_status = #{hitStatus}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="cacheFlag != null "> and cache_flag = #{cacheFlag}</if>
            <if test="errorCode != null "> and error_code = #{errorCode}</if>
            <if test="roleId != null "> and role_id = #{roleId}</if>
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>

            <!-- 发送时间范围 -->
            <if test="sendTimeStart != null and sendTimeEnd != null">and send_time between #{sendTimeStart} and #{sendTimeEnd}</if>
            <!-- 响应间隔范围 -->
            <if test="responseIntervalStart != null and responseIntervalEND != null">and response_interval &gt;= #{responseIntervalStart} and response_interval &gt;= #{responseIntervalEND}</if>
            <!-- 关键词 -->
            <if test="keyword != null  and keyword != ''"> and (input_text like concat('%', #{keyword}, '%') or output_text like concat('%', #{keyword}, '%'))</if>

        </where>
        order by send_time desc
    </select>
    
    <select id="selectBizSessionRecordById" parameterType="Long" resultMap="BizSessionRecordResult">
        <include refid="selectBizSessionRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizSessionRecord" parameterType="BizSessionRecord" useGeneratedKeys="true" keyProperty="id">
        insert into biz_session_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sessionId != null">session_id,</if>
            <if test="digitalEmployeeId != null">digital_employee_id,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="returnTime != null">return_time,</if>
            <if test="responseInterval != null">response_interval,</if>
            <if test="inputText != null">input_text,</if>
            <if test="outputText != null">output_text,</if>
            <if test="tokens != null">tokens,</if>
            <if test="status != null">status,</if>
            <if test="errorMessage != null">error_message,</if>
            <if test="remark != null">remark,</if>
            <if test="chatType != null">chat_type,</if>
            <if test="hitStatus != null">hit_status,</if>
            <if test="userId != null">user_id,</if>
            <if test="cacheFlag != null">cache_flag,</if>
            <if test="errorCode != null">error_code,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="roleId != null">role_id,</if>
            <if test="ip != null">ip,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sessionId != null">#{sessionId},</if>
            <if test="digitalEmployeeId != null">#{digitalEmployeeId},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="returnTime != null">#{returnTime},</if>
            <if test="responseInterval != null">#{responseInterval},</if>
            <if test="inputText != null">#{inputText},</if>
            <if test="outputText != null">#{outputText},</if>
            <if test="tokens != null">#{tokens},</if>
            <if test="status != null">#{status},</if>
            <if test="errorMessage != null">#{errorMessage},</if>
            <if test="remark != null">#{remark},</if>
            <if test="chatType != null">#{chatType},</if>
            <if test="hitStatus != null">#{hitStatus},</if>
            <if test="userId != null">#{userId},</if>
            <if test="cacheFlag != null">#{cacheFlag},</if>
            <if test="errorCode != null">#{errorCode},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="roleId != null">#{roleId},</if>
            <if test="ip != null">#{ip},</if>
         </trim>
    </insert>

    <update id="updateBizSessionRecord" parameterType="BizSessionRecord">
        update biz_session_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="sessionId != null">session_id = #{sessionId},</if>
            <if test="digitalEmployeeId != null">digital_employee_id = #{digitalEmployeeId},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="returnTime != null">return_time = #{returnTime},</if>
            <if test="responseInterval != null">response_interval = #{responseInterval},</if>
            <if test="inputText != null">input_text = #{inputText},</if>
            <if test="outputText != null">output_text = #{outputText},</if>
            <if test="tokens != null">tokens = #{tokens},</if>
            <if test="status != null">status = #{status},</if>
            <if test="errorMessage != null">error_message = #{errorMessage},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="chatType != null">chat_type = #{chatType},</if>
            <if test="hitStatus != null">hit_status = #{hitStatus},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="cacheFlag != null">cache_flag = #{cacheFlag},</if>
            <if test="errorCode != null">error_code = #{errorCode},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="ip != null">ip = #{ip},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizSessionRecordById" parameterType="Long">
        delete from biz_session_record where id = #{id}
    </delete>

    <delete id="deleteBizSessionRecordByIds" parameterType="String">
        delete from biz_session_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>